body {
    background-color: #2A855C;
    color: #424242;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Signika, "Arial Black";
}

.previous_next {
    /*color: #C1983D;*/
    margin: 1.5rem;
}

.previous_next:visited {
    color: #424242;
}

/*If I use <p> for the output*/
.park_paragraph {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    
}

/*If I use a table for the output*/
/*table {
    width: 100%;
    border-collapse: collapse;
    background-repeat: no-repeat;
}

#heading {

} 

.park_row {
    height: 100px;
    border: 0px;
}

th {
    text-align: left;
    padding-left: 1.5rem;
}

td {
    padding-left: 1.5rem;
}*/