body {
    background-color: #2A855C;
    color: #424242;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-family: Signika, "Arial Black";
    color: #A8A6A6;
    text-shadow: 2px 2px #424242;
}

.previous_next {
    /*color: #424242;*/
    margin: 1.5rem;
    color: #A8A6A6;
}

.previous_next:visited {
    /*color: #424242;*/
    color: #A8A6A6;
}

/*If I use <p> for the output*/
.park_paragraph {
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*clear: both;*/
    display: inline-block;
    width: 28%;
    padding-left: 10px;
}

.park_entries {
    margin-bottom: 10px;
    height: 300px;
    /*background-color: #C1983D;*/
    background-color: #A8A6A6;
    position: relative;
    box-shadow: 2px 2px #424242;
}

.park_img {
    width: 68%;
    float: right;
}

.park_img img {
    height: 300px;
}

form {
    background-color: #A8A6A6;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    box-shadow: 2px 2px #424242;
}

.no_image {
    padding-left: 10%;
    color: #424242;
    text-shadow: 0px 0px;
    font-size: 3rem;
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
}


/*If I use a table for the output*/
/*table {
    width: 100%;
    border-collapse: collapse;
    background-repeat: no-repeat;
}

#heading {

} 

.park_row {
    height: 100px;
    border: 0px;
}

th {
    text-align: left;
    padding-left: 1.5rem;
}

td {
    padding-left: 1.5rem;
}*/